// components/templates/Layout/Layout.module.scss
@use '@/styles/mixins' as *;

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row; // デフォルトでPC表示

  @include tab {
    flex-direction: column; // タブレット以下でcolumn
  }
}

.main {
  flex: 1;
  width: 100%;
}

.sidebar {
  width: 240px;
  min-width: 240px;

  @include tab {
    width: 100%;
    min-width: 100%;
    order: 2; // メインコンテンツの下に配置
  }

  @include sp {
    padding: 0 20px;
  }
}