// components/templates/Layout/Layout.module.scss
.container {
    display: flex;
    flex-direction: column; // スマホ表示ではcolumn
    width: 100%;
    min-height: 100vh;
    
    @media screen and (min-width: 768px) {
      flex-direction: row; // PC表示ではrow
    }
  }
  
  .main {
    flex: 1;
    width: 100%;
  }
  
  .sidebar {
    width: 100%;
    
    @media screen and (min-width: 768px) {
      width: 240px; // PC表示時のサイドバーの幅
      min-width: 240px; // 縮まないように設定
    }
  }