// components/Button/Button.module.scss
.button {
    &__primary {
      background-color: var(--primary-color);
      color: white;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 4px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100%; // 親要素に対して可変
      max-width: fit-content; // コンテンツに合わせて最大幅を設定
      min-width: min-content; // 最小幅をコンテンツに合わせる
  
      &:hover {
        background-color: var(--secondary-color);
      }
    }
  
    &__secondary {
      background-color: white;
      color: var(--primary-color);
      padding: 0.8rem 1.5rem;
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s;
      width: 100%; // 親要素に対して可変
      max-width: fit-content; // コンテンツに合わせて最大幅を設定
      min-width: min-content; // 最小幅をコンテンツに合わせる
  
      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }