@use '../../../styles/mixins' as *;

.main-content {
  display: flex;
  gap: 24px;

  &__sidebar {
    width: 240px;
    min-width: 240px;

    @include tab {
      width: 100vw; // ビューポート幅いっぱいに
      min-width: 100vw;
      margin-left: calc(-50vw + 50%); // ネガティブマージンで全幅に
      margin-right: calc(-50vw + 50%);
      order: 2;
      padding: 20px; // 内側の余白
    }
  }

  &__content {
    width: 100%;
    padding-left: 0;
    @include tab {
      order: 1;
      padding: 0; 
    }

  }
   
  @include tab {
    flex-direction: column;
  }

  &__container {
    width: 100%; 
      @include tab {
        padding: 0; // タブレット以下でpaddingを削除
        max-width: none; // 最大幅の制限を解除
      }
    
  
  }
}